@import "./base.css";
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");

h1 {
  color: #c84257;
  font-family: "Mountains of Christmas";
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
}

#app {
  min-height: 100vh;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/25839/trees.svg)
      repeat-x,
    #fff;
  background-size: auto 90%;
  display: flex;
  flex-direction: column;
}
